body {font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif}

.main {opacity:1;width:920px;height:auto;margin:-10px auto;background:url(../img/slide_bg1.jpg) no-repeat;background-size:cover;border-left:#0075b5 2px solid;border-right:2px solid #0075b5;border-bottom:8px solid #0075b5;padding-bottom:50px}

.main img {float:left}
.main h2 {margin: -40px 0 10px 50px;font-size: 130%;clear:both}
.main p {margin:15px 0 10px 50px;font-size:100%;}
.main h3, .main h5 {margin:55px 0 10px 50px;}
.main h3 {float: left;width: 200px; margin-top: 101px;font-weight: lighter;color:#0075b5}
